@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@400;500&family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
.stikBookLogo{
  height: 85px;
  display: block;
  margin: 0 auto;
  width: auto; /* correct proportions to specified height */
}
.icons{
  height: 50px;
  width: auto;
}
.password-toogle-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}




