.main{
    /*background-color: white;*/
    width: 100vw;
}
.pictures{
    margin-top: 20px;
    text-align: center;
   
    
}

.searchbar{
    width: 280px;
    border-radius: 5px;
    padding: 5px;
}
.headings{
    text-align: center;
}

.fbicon{
    height: 100px;
    width: 100px;
    margin: 10px 20px ;
}
.pic1{
    margin-left: 40px;
    text-align: center;
    display: inline-block;
   
}
.pic2{
    margin-left: 60px;
    text-align: center;
   display: inline-block
}
.pic3{
    margin-left: 80px;
    text-align: center;
    display: inline-block;
}
.pic4{
    margin-left: 100px;
    text-align: center;
    display: inline-block;
}
.pic5{
    margin-left: 120px;
    text-align: center;
    display: inline-block;
}
.sub-heading{
    text-align: center;
}
.interestButton{
    padding: 20px;
}